coverage/
*.tsbuildinfo
node_modules/
.DS_Store
tmp/
dist/
build/
docs/
scratchpad/*
!scratchpad/tsconfig.json
.direnv/
.idea/
.env
.env.*
!.env.*.example
.pnpm-store
.devcontainer
*-results/
dolt
dolt-access.lock

/packages/migration/debug/sanity-images/

gororobas.db
gororobas.db-shm
gororobas.db-wal
